<h1> Here's your game </h1>
<br />
<h2><%= @game.name %></h2>

<table>
  <% 8.times.with_index do |row, row_index| %>
    <tr>
      <% 8.times.with_index do |col, col_index| %>
        <td>
          <% if @game.pieces.where(x_coordinate: col_index,\
                            y_coordinate: row_index).first.nil? == false %>
            <%=link_to @pieces[col_index][row_index], game_piece_path(@game, @game.pieces.where(x_coordinate: col_index, \
            y_coordinate: row_index).first.id)%>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
